.git
.DS_Store
.env
.env.*

.dart_tool
**/.dart_tool
**/build
**/bin
**/obj

.dotnet-home
.dotnet-sdk
.data-protection-keys

src/app/.flutter-plugins
src/app/.flutter-plugins-dependencies
src/app/ios/Pods
src/app/ios/.symlinks
